

.mobile-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;
  background: white;
  display: none;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #e2e8f0;
  z-index: 100;
  padding-bottom: env(safe-area-inset-bottom);
}

.footer-tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  color: #94a3b8;
  font-size: 11px;
  cursor: pointer;
}


.center-send {
  width: 50px;
  height: 50px;
  background: var(--bg-main);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: -30px;
  box-shadow: 0 4px 12px var(--bg-main);
}

.dashboard-container.dark .footer-tab svg,
.dashboard-container.dark .footer-tab span{
 color:#fff 
}
@media (max-width: 1000px) {
  .mobile-footer {
    display: flex;
  }

}
.dashboard-container.dark .footer-tab.active svg,
.dashboard-container.dark .footer-tab.active span,
.footer-tab.active {
  color: var(--bg-main) !important;
}