.bottom-sections-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
  margin-bottom: 100px; 
}
.feature-grid {
  background: #f1f5f9;
  margin: 16px;
  padding: 24px;
  border-radius: 24px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 20px;
}

.feature-grid.color-light{
  background-color: var(--dark-effect-bg);
}

.feature-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  text-align: center;
  cursor: pointer;
}

.feature-icon-wrapper {
  width: 50px;
  height: 50px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.feature-card span {
  font-size: 10px;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  color: var(--text-main);
}



.eye-view{
  display: flex;
  gap: 10px;
  margin-left: 50px;
  cursor: pointer;
}
.currency-option{
  display: flex;
  gap: 10px;
  padding: 8px;
  cursor: pointer;
  font-weight: 600;
}
.currency-option:hover{
  background-color: #d5310c;
  border-radius: 7px;
  width:fit-content;
  padding: 8px;
}
.eye-view svg, .currency-option svg{
  margin-top:3px;
  font-size: 10px;
}

.notification-dropdown {
  position: absolute;
  top: 60px;
  right: 20px;
  width: 320px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  z-index: 1000;
  border: 1px solid #e2e8f0;
  overflow: hidden;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.notif-header {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f1f5f9;
}

.theme-toggle {
  width: 44px;
  height: 22px;
  background: #e2e8f0;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
}

.theme-toggle.active {
  background: #3b82f6;
}

.toggle-circle {
  width: 18px;
  height: 18px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: 0.3s;
}

.theme-toggle.active .toggle-circle {
  left: 24px;
}

.welcome-message {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 12px;
  margin-left: 35px;
  margin-top:15px;
  font-family: "Karla", sans-serif;
}

.notification-icon {
    position: relative;
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.notification-icon svg{
  color: var(--bell-bg);
}
.notification-badge {
    position: absolute;
    top: 4px;
    right: 4px;
    background-color: #ff4d4f;
    color: #fff;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome-user-icon{
    color: var(--bg-input-border) !important; 
}
.user-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #e0e0e0;
    color: #333;
    font-size: 18px;
    margin-right: 10px;
    border:2px solid var(--bg-main);
    border-radius: 50%;

}
.user-name-out{
    font-weight: 600;
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.username-display{
    text-transform: uppercase; 
}
.username-display.capitalize {
    text-transform: capitalize;
}

.username-display.first-letter {
    text-transform: lowercase;
}

.username-display.first-letter::first-letter {
    text-transform: uppercase;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10001;
  font-family: "Karla", sans-serif !important;
}

.modal-content {
  background: #fff;
  width: 20rem;
  height: 30rem;
  border-radius: 20px;
  padding: 24px;
  box-shadow: 0 15px 35px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  max-height: 90vh; 
}

.modal-header h3 {
  font-size: 15px;
  margin: 0 0 16px 0;
  color: #333;
  font-family: "Karla", sans-serif !important;
}



.search-container {
  position: relative;
  background: transparent;
  z-index: 10;
  margin-bottom: 10px;
  padding-bottom: 8px;
  border-bottom: 1px solid #f8f9fa;
}

.search-icon-inside {
  position: absolute;
  left: 12px;
  top: 8px;
  color: #adb5bd;
}

.search-container input {
    width: 100%;
    padding: 8px 8px 8px 36px;
    border: 1px solid #eee;
    border-radius: 8px;
    font-size: 12px;
    color: #444;
    font-family: "Karla", sans-serif;
    box-sizing: border-box; 
    outline: none;
}


.country-list {
  display: block;
  flex: 1;
  overflow-y: auto; 
  padding-right: 8px;
}

.country-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0;
  border-bottom: 1px solid #f8f9fa;
  cursor: pointer;
  font-size: 12px;
  color: #444;
  font-family: "Karla", sans-serif !important;
}


.radio-outer {
  width: 20px;
  height: 20px;
  border: 2px solid #ddd;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.radio-outer.checked {
  border-color: var(--bg-main);
}

.radio-inner {
  width: 10px;
  height: 10px;
  background: var(--bg-main);
  border-radius: 50%;
  display: none;
}

.radio-outer.checked .radio-inner {
  display: block;
}

.country-list::-webkit-scrollbar {
  width: 6px;
}

.country-list::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.country-list::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
  transition: background 0.3s ease;
}

.country-list.is-scrolling::-webkit-scrollbar-thumb,
.country-list::-webkit-scrollbar-thumb:hover {
  background: var(--bg-main)
}

.no-results {
  text-align: center;
  padding: 20px;
  color: #adb5bd;
  font-size: 14px;
}

.notif-select {
  width: 100%;
  font-size: 12px;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #e2e8f0;
  margin-bottom: 20px;
  background: transparent;
  outline: none;
  transition: border-color 0.2s;
}

.notif-select:focus {
  border-color: #c3290b !important;
}

.notif-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  background: white;
  border-radius: 12px;
}

.notif-spinner {
  width: 30px;
  height: 30px;
  border: 3px solid #f3f3f3;
  border-top: 3px solid #c3290b;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.notification-dropdown {
  min-height: 200px;
}
.notif-loader-container.color-light, 
.user-name-out.color-light{
  color: #f1f1f1;
}
.notif-loader-container.color-dark, 
.user-name-out.color-dark{
  color: #1e293b;
}


.kyc-progress-container {
    background-color: #ffffff;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    width: auto;
    margin-bottom: 30px;
    border: 1px solid #f0f0f0;
    font-family: sans-serif; 
    margin-left: 20px;
    margin-right: 20px;
}

.kyc-progress-header-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    margin-bottom: 15px;
}

.kyc-progress-header {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 500;
    color: #333333;
}

.kyc-progress-arrow {
    font-size: 1.5rem;
    margin-left: 8px;
    line-height: 1;
    color: #333333;
    transition: transform 0.2s ease-in-out;
}

.kyc-progress-header-link:hover .kyc-progress-arrow {
    transform: translateX(4px);
    color: var(--bg-main);
}

.kyc-progress-bar-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.kyc-progress-bar {
    flex-grow: 1;
    height: 5px;
    background-color: #e0e0e0; 
    border-radius: 4px;
    overflow: hidden;
}

.kyc-progress-fill {
    height: 100%;
    background-color: var(--bg-main); 
    transition: width 0.4s ease-in-out;
    border-radius: 4px;
}

.kyc-progress-percentage {
    font-size: 0.9rem;
    font-weight: 600;
    color: #764ba2;
    width: fit-content;
    text-align: right;
}
.kyc-progress-header .color-light{
  color:#0f172a !important
}

.balance-toggle {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin-bottom: 8px;
}
.feature-label {
  color: var(--text-primary);
  font-size: 13px;
  margin-top: 8px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.dark .feature-label {
  color: #fff;
}
.dashboard-container.dark .search-container input::placeholder {
  color: #fff;
}


.hero-banner {
    background: var(--bg-main);
    color: #fff;
    border-radius: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr auto;
    column-gap: 43px;
    margin: 14px 14px;
    padding: 80px 20px;
    height: 270px;
    display: grid;
    max-height: 380px;
}
.hero-actions {
  grid-column: 2;
  display: flex;
  gap: 24px;
  align-items: flex-end;
  margin-top: -75px;
}

.hero-action-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  cursor: pointer;
}

.hero-icon-box {
  width: 48px;
  height: 48px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.balance-label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  opacity: 0.9;
}

.currency-selector {
  background: rgba(255,255,255,0.2);
  padding: 4px 12px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 12px;
  width: fit-content;
  cursor: pointer;
}
.balance-row{
  margin-top: 35px;
}
.amount {
  font-size: 48px;
  font-weight: 700;
  margin-top: 10px;
  letter-spacing: -1px;
  justify-items: start;
  justify-content: start;
  align-items: start;
}

.action-buttons {
  display: flex;
  gap: 24px;
}

.action-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.icon-circle {
  width: 48px;
  height: 48px;
  background: rgba(255,255,255,0.2);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s;
}

.icon-circle:hover {
  transform: translateY(-4px);
  background: rgba(255,255,255,0.3);
}


.wallet-header-wrapper {
  grid-column: 1 / -1;
}

.wallet-main-header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 100%;
  margin-top:-60px
}

.wallet-currency-selector {
  display: flex; /* inline flex with toggle */
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
}

.wallet-visibility-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff26;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  color: #fff;
}
.wallet-visibility-toggle button{
  margin-right:48px
}
.wallet-balance-label {
    opacity: .9;
    margin-bottom: -10px;
    font-size: 14px;
    justify-items: start;
    text-align: start;
}


@media (min-width: 1024px) {
  .bottom-sections-grid {
    grid-template-columns: 1.5fr 1fr;
  }
  
}

@media (max-width: 1000px) {
  .eye-view, .currency-option{
    margin-left: 0px;
    width:fit-content;
  }
  .wallet-visibility-toggle button{
    margin:0px !important
  }
  .currency-option {
      display: flex; 
      align-items: center;
      justify-content: center;
      text-align: center;
      margin: 0 auto; 
  }
  .mobile-footer {
    display: flex;
  }
   .hero-banner {
    grid-template-columns: 1fr;
    row-gap: 24px;
    height: 300px !important;
  }

  .hero-actions {
    grid-column: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    margin-top:-17px
  }
  .amount{
    display: flex !important;
  }
  .balance-row {
    grid-column: 1;
    margin-top: 0px;
  }
  .dashboard-container {
    padding-bottom: 80px;
  }

  .amount {
    font-size: 36px;
  }

  .header {
    padding: 15px 20px;
  }

  .feature-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1144px) {
  .feature-grid {
    grid-template-columns: repeat(8, 1fr);
  }
}

@media (max-width: 1040px) {
  .feature-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 850px) {
  .feature-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 650px) {
  .feature-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 500px) {
  .feature-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 300px) {
  .hero-actions {
      grid-template-columns: repeat(3, 1fr);
      gap: 12px;
      margin-top: 24px;
      display: grid;
  }
  .hero-actions .hero-action-item:last-child {
      display: none !important;
  }
}
@media (max-width: 370px) {
  .hero-actions {
      grid-template-columns: repeat(3, 1fr);
  }
  .hero-action-item {
    padding: 10px;
  }
   .hero-actions .hero-action-item:last-child {
      display: none !important;
  }
}
.user-avatar img,
.user-avatar .settings-avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  display: block;
}

.user-avatar.large {
  width: 50px;
  height: 50px;
  font-size: 16px;
}

.user-avatar.large img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
